.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    padding: 15px;
    border: 2px solid teal;
    border-radius: 9px;
    margin: 10px;
}